* {
    padding: 0;
    margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif; 
  background-color: lightgray;
}
.content section {
    background-color: white;
    margin: 15px;
    border-radius: 5px;
    padding: 20px;
}
img {
    border: 1px solid black;
    border-radius: 15px;
    background-color: gray;
}
h2, p {
     margin: 15px 0;
}
ul {
    padding-left: 20px;
    line-height: 30px;
}
header, footer {
    background-color: blue;
    text-align: center;
    padding: 10px;
    color: white;
}
